﻿/* 
 * Deprecated DNN CSS class names will remain available for some time
 * before being  permanently removed. Removal will occur according to
 * the  following process:
 *
 * 1. Removal will only occur with a major (x.y) release, never
 *    with a maintenance (x.y.z) release.
 * 2. Removal will not occur less than six months after the release
 *    when it was deprecated.
 * 3. Removal will not occur until after deprecation has been noted 
 *    in at least two major releases.
 *
 *                                              |        |Planned |
 *  Name                                        |Release |Removal |
 *----------------------------------------------+--------+--------+
 * Mod{NAME}C                                     5.6.2    6.2
 *   {NAME} = sanitized version of the DesktopModule Name 
 *   Used on <div> tag surrounding Module Content, inside container
 *----------------------------------------------+--------+--------+
 */
 
.branding-top {
	background: url(dnn_large_banner.png) no-repeat top left;
	width: 900px;
	height: 428px;
	clear: both;
	overflow: hidden;
}
.branding-top p {
	padding: 0px 60px 0 60px;
	font-size: 1.4em;
	color: #333;
}
.branding-bottom {
	clear: both;
	margin: 1em 0;
	overflow: hidden;
}
.branding-bottom ul {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	clear: both;
}
.commmunity, .marketplace, .conferences, .training {
	list-style: none;
	display: block;
	float: left;
  cursor: pointer;
}
.branding-bottom li.training {
	margin: 0;
}
.branding-bottom .feature-block {
	background: url(itembg.gif) repeat-y;
	margin: 33px 0 0 0;
}
.branding-bottom .feature-icon {
	margin: 0;
	height: 66px;
	margin-bottom: 1em;
}
.feature-text {
	margin: 0 10px 20px 10px;
	font-size: 115%;
	text-align: center;
    color: #3e81b5;
    height: 75px;
}
.branding-bottom li {
  margin: 0 20px 0 0;
  width: 210px;
}
.branding-bottom li.training {
  margin: 0;
}
.feature-block li {
  list-style: none;
}
.feature-icon {
  width: 180px;
 }
.branding-bottom .commmunity {
	background: url(community_title.gif) no-repeat top left;
}
.commmunity .feature-icon {
	background: url(community_icon.gif) no-repeat;
	background-position: 50% 10px;
}
.branding-bottom .marketplace {
	background: url(marketplace_title.gif) no-repeat top left;
}
.marketplace .feature-icon {
	background: url(marketplace_icon.gif) no-repeat;
	background-position: 50% 10px;
}
.branding-bottom .conferences {
	background: url(conferences_title.gif) no-repeat top left;
}
.conferences .feature-icon {
	background: url(conferences_icon.gif) no-repeat;
	background-position: 50% 10px;
}
.branding-bottom .training {
	background: url(training_title.gif) no-repeat top left;
}
.training .feature-icon {
	background: url(training_icon.gif) no-repeat;
	background-position: 50% 10px;
}
ul.bt {
	margin: 0 -1em;
	padding: 0;
	background: url(item_bt_bg.gif) no-repeat bottom;
	height: 32px;	
}
ul.bt li {
  margin: 0 1em;
  list-style-type: none;
}
.action-btn {
  height: 26px;
}
.engage-action {
	background: url(engage_btn.png) no-repeat bottom;
}
.shop-action {
	background: url(shop_btn.png) no-repeat bottom;
}
.connect-action {
	background: url(connect_btn.png) no-repeat bottom;
}
.learn-action {
	background: url(learn_btn.png) no-repeat bottom;
}
div.link_manuals {
	float:left;
	background: url(dnn_manuals.png) no-repeat top left;
	width: 316px;
	height: 137px;
	cursor: pointer;
}
div.link_proedition {
	float:right;
	background: url(dnn_proedition.png) no-repeat top left;
	width: 514px;
	height: 137px;
	cursor: pointer;
}
div.link_main {
	margin: 260px 30px 0px 30px;
}

#LoginInfo
{
	width:545px; 
	float:left;
}
#LoginInfo h3
{
	background-color: #f7f7f7;
	color: #8f0000;
	padding: 2px 0px;
}
#LoginInfo dd, #LoginInfo dt 
{
	display:inline;
}
#LoginInfo dt
{
	font-weight:bold;
	color: #333;
}
#LoginInfo p.LoginNotes
{
	font-size: .8em;
}
#LoginInfo div.LoginBlock {
	float: left;
	width: 255px;
	padding: 5px 5px;
	margin: 0px 2px;
	border: 1px #f0f0f0 solid;
}
.SponsorIcon
{
	margin: 5px 15px; 
	float: left;
}
#QuickLinks 
{
	background-color:#f0f0f0;
	border: 1px #cccccc solid;
	padding: 2px 5px;
	position:relative;
	width:330px;
}
#QuickLinks h2, #QuickLinks p
{
	margin: 5px 5px;
}
div.hr
{
	height: 2px;
	background-color: #8f0000;
	margin: 5px 0 15px 0;
	clear:both;
}
div.hr hr
{
	display: none;
}

#TelerikInside
{
	background: white url('telerikInside.jpg');
	border: 1px #cccccc solid;
	padding: 20px 5px 10px 130px;
	margin-bottom: 5px;
	width: 205px;
	height: 140px;
	border-style:none;
}

#TelerikInside h2
{
	font-weight: bold;
}

#RightColumnInfo
{
	float:right;
	width:340px;
	margin-left: 10px;
	margin-bottom: 15px;
}
#qlCol1, #qlCol2
{
	margin: 5px 5px 15px;
	padding-left: 12pt;
	float: left;
	position:relative;
}
