/*--------- dnn menu style ----------*/
/* main menu td */
.mainMenu 
{
	cursor:pointer;
	font-size: 11px; 
	background-color:#e31937;
	width:970px;

        color: #FFF;
   
    font-family: "Bliss2Medium",Arial,Helvetica,sans-serif;
 }

/* Main Menu Normal */
    .mainMenu .root {
        color: #FFF;
        font-size: 12px;
        font-weight: bold;
        text-align: center;
        padding: 12px 12px 12px 12px;
        text-transform: uppercase;
        margin-right: 1px;
        white-space: nowrap;
        margin-right: 1px;
        float: left;
        
    }

/* Main menu hover */
.mainMenu .hov{ 
	color:#F39C12;
	
/*	background:url(images/menu_hover.png) repeat-x top left;*/
}


#dnn_tblwelcome{ 
	background-color:#F39C12;
	    padding: 8px;
    font-size: 12px;
    	 color: #FFF;
   
    font-family: "Bliss2Medium",Arial,Helvetica,sans-serif;
}
/*	background:url(images/menu_hover.png) repeat-x top left;*/
}

#dnn_tblwelcome .headingblue2{ 
	 color: #FFF;
   
    font-family: "Bliss2Medium",Arial,Helvetica,sans-serif;

	
/*	background:url(images/menu_hover.png) repeat-x top left;*/
}
	
/*	background:url(images/menu_hover.png) repeat-x top left;*/
}

/* Main menu selected */
.mainMenu .sel, .mainMenu .bc {
color:#F39C12;
	/*background:url(images/menu_active.png) repeat-x top left;*/
}
.mainMenu table{
	border:1px solid #908E8E;
	z-index: 5000;
	}

/* SUB Menu Normal */
.mainMenu tr.mi{
	background-color:#F8FAFF;
	z-index: 1000;
	font-size: 10px; 
	font-weight:bold;
	text-align:left;
	color:#686666;
	line-height:2em;
	text-transform:none; 
}
.mainMenu tr.mi td{
padding: 0 2px;
text-transform:none;
}

/* SUB Menu hover & selected */
.mainMenu tr.hov { 
background: #F39C12 url(images/submenu_hover.png) repeat-x top left;
}

.mainMenu tr.hov td{
color:#fff;
}

.mainMenu tr.sel, .mainMenu tr.bc{
background: #F39C12 url(images/submenu_active.png) repeat-x top left;
}

.mainMenu tr.sel td, .mainMenu tr.bc td{
	color:#fff;
}

.main_dnnmenu_break{
	height: 2px;
	background-color: #D5E0FF;
}



/* Module Action Menus */
.ModuleTitle_SubMenu
{
	border:1px solid #C0D6E5;
}

.ModuleTitle_SubMenu td{
	background-color:#F8FAFF;
	white-space: nowrap;
} 

.ModuleTitle_MenuIcon {
	background-color:#F8FAFF; 
	border:none;
	padding: 0px 2px;
}

.ModuleTitle_MenuItemSel td, .ModuleTitle_MenuItemSel .ModuleTitle_MenuIcon{
	background: #CE0D0D url(images/submenu_hover.png) repeat-x top left;
	color: #fff;
}

.ModuleTitle_MenuBreak td, .ModuleTitle_MenuBreak .ModuleTitle_MenuIcon
{
	height: 2px;
	background-color: #D5E0FF;
}




