﻿/* styles used in the FileManager */
.FileManager
{
    border-right: black 1px solid;
    border-top: black 1px solid;
    border-left: black 1px solid;
    border-bottom: black 1px solid;
    height: 400px;
}
.FileManager_ToolBar
{
    border-bottom: black 1px solid;
    height: 25px;
}
.FileManager_Explorer
{
    height: 100%;
    border: #696969 1px solid;
    background-color: White;
    margin: 2px 2px 2px 2px;
}

.FileManager_FileList
{
    height: 100%;
    border: #696969 1px solid;
    background-color: White;
    margin: 2px 2px 2px 2px;
    overflow: auto;
}

.FileManager_MessageBox
{
    text-align: center;
    vertical-align: middle;
    background-color: White;
    padding: 25px 25px 25px 25px;
}

.FileManager_Header
{
    font-family: Tahoma, Arial, Helvetica;
    font-size: 11px;
    font-weight: bold;
    color: #E7E7FF;
    background-color: #9EBFF6;
    border-bottom: #696969 1px solid;
    height: 25px;
}

.FileManager_Pager
{
    font-family: Tahoma, Arial, Helvetica;
    font-size: 11px;
    font-weight: bold;
    background-color: #EEEEEE;
    border-top: #696969 1px solid;
    height: 25px;
}

.FileManager_StatusBar
{
    font-family: Tahoma, Arial, Helvetica;
    font-size: 11px;
    font-weight: normal;
    background-color: #dedfde;
    height: 25px;
    margin: 2px 2px 2px 2px;
}

.FileManager_Item
{
    font-family: Tahoma, Arial, Helvetica;
    font-size: 11px;
    font-weight: normal;
    color: Black;
    background-color: #F8F8F8;
    border-top: black 1px dashed;
    border-bottom: black 1px dashed;
}

.FileManager_AltItem
{
    font-family: Tahoma, Arial, Helvetica;
    font-size: 11px;
    font-weight: normal;
    color: Black;
    background-color: #EEEEEE;
    border-style: none;
}
.FileManager_SelItem
{
    font-family: Tahoma, Arial, Helvetica;
    font-size: 11px;
    font-weight: bold;
    color: White;
    background-color: #99ffff;
    border-style: none;
}

.FileManagerTreeNode
{
    font-family: Tahoma, Arial, Helvetica;
    font-size: 11px;
    font-weight: normal;
}

.FileManagerTreeNodeSelected
{
    font-family: Tahoma, Arial, Helvetica;
    font-size: 11px;
    font-weight: normal;
    background-color: #dcdcdc;
}

A.FileManagerTreeNode:link, A.FileManagerTreeNodeSelected:link
{
    text-decoration: none;
    color: #003366;
}

A.FileManagerTreeNode:visited, A.FileManagerTreeNodeSelected:visited
{
    text-decoration: none;
    color: #003366;
}

A.FileManagerTreeNode:hover, A.FileManagerTreeNodeSelected:hover
{
    text-decoration: none;
    color: #ff0000;
}

A.FileManagerTreeNode:active, A.FileManagerTreeNodeSelected:active
{
    text-decoration: none;
    color: #003366;
}
