﻿<%@ Control Language="VB" AutoEventWireup="false" CodeFile="AddSweepActions.ascx.vb"
    Inherits="DesktopModules_SweepActions_ViewSweepActions" %>
<style type="text/css">
    .auto-style1
    {
        width: 25%;
        height: 26px;
    }

    .auto-style2
    {
        width: 25%;
        height: 23px;
    }

    .RadPicker
    {
        vertical-align: middle;
    }

    .RadPicker
    {
        vertical-align: middle;
    }

    .RadPicker
    {
        vertical-align: middle;
    }

    .RadPicker
    {
        vertical-align: middle;
    }

    .RadPicker
    {
        vertical-align: middle;
    }

    .RadPicker
    {
        vertical-align: middle;
    }

    .RadPicker
    {
        vertical-align: middle;
    }

    .RadPicker
    {
        vertical-align: middle;
    }

    .rdfd_
    {
        position: absolute;
    }

    .rdfd_
    {
        position: absolute;
    }

    .rdfd_
    {
        position: absolute;
    }

    .rdfd_
    {
        position: absolute;
    }

    .RadPicker .rcTable
    {
        table-layout: auto;
    }

    .RadPicker .rcTable
    {
        table-layout: auto;
    }

    .RadPicker .rcTable
    {
        table-layout: auto;
    }

    .RadPicker .rcTable
    {
        table-layout: auto;
    }

    .RadPicker .rcTable
    {
        table-layout: auto;
    }

    .RadPicker .rcTable
    {
        table-layout: auto;
    }

    .RadPicker .rcTable
    {
        table-layout: auto;
    }

    .RadPicker .rcTable
    {
        table-layout: auto;
    }

    .RadPicker .RadInput
    {
        vertical-align: baseline;
    }

    .RadPicker .RadInput
    {
        vertical-align: baseline;
    }

    .RadPicker .RadInput
    {
        vertical-align: baseline;
    }

    .RadPicker .RadInput
    {
        vertical-align: baseline;
    }

    .RadPicker .RadInput
    {
        vertical-align: baseline;
    }

    .RadPicker .RadInput
    {
        vertical-align: baseline;
    }

    .RadPicker .RadInput
    {
        vertical-align: baseline;
    }

    .RadPicker .RadInput
    {
        vertical-align: baseline;
    }

    .RadInput_Default
    {
        font: 12px "segoe ui",arial,sans-serif;
    }

    .riSingle
    {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -khtml-box-sizing: border-box;
    }

    .riSingle
    {
        position: relative;
        display: inline-block;
        white-space: nowrap;
        text-align: left;
    }

    .RadInput
    {
        vertical-align: middle;
    }

    .RadInput_Default
    {
        font: 12px "segoe ui",arial,sans-serif;
    }

    .riSingle
    {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -khtml-box-sizing: border-box;
    }

    .riSingle
    {
        position: relative;
        display: inline-block;
        white-space: nowrap;
        text-align: left;
    }

    .RadInput
    {
        vertical-align: middle;
    }

    .RadInput_Default
    {
        font: 12px "segoe ui",arial,sans-serif;
    }

    .riSingle
    {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -khtml-box-sizing: border-box;
    }

    .riSingle
    {
        position: relative;
        display: inline-block;
        white-space: nowrap;
        text-align: left;
    }

    .RadInput
    {
        vertical-align: middle;
    }

    .RadInput_Default
    {
        font: 12px "segoe ui",arial,sans-serif;
    }

    .riSingle
    {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -khtml-box-sizing: border-box;
    }

    .riSingle
    {
        position: relative;
        display: inline-block;
        white-space: nowrap;
        text-align: left;
    }

    .RadInput
    {
        vertical-align: middle;
    }

    .riSingle .riTextBox
    {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -khtml-box-sizing: border-box;
    }

    .riSingle .riTextBox
    {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -khtml-box-sizing: border-box;
    }

    .riSingle .riTextBox
    {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -khtml-box-sizing: border-box;
    }

    .riSingle .riTextBox
    {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -khtml-box-sizing: border-box;
    }

    .RadPicker_Default .rcTimePopup
    {
        background-position: 0 -100px;
    }

    .RadPicker_Default .rcTimePopup
    {
        background-image: url('mvwres://Telerik.Web.UI, Version=2012.2.607.35, Culture=neutral, PublicKeyToken=121fae78165ba3d4/Telerik.Web.UI.Skins.Default.Calendar.sprite.gif');
    }

    .RadPicker .rcTimePopup
    {
        display: block;
        overflow: hidden;
        width: 22px;
        height: 22px;
        background-color: transparent;
        background-repeat: no-repeat;
        text-indent: -2222px;
        text-align: center;
    }

    .RadPicker_Default .rcTimePopup
    {
        background-position: 0 -100px;
    }

    .RadPicker_Default .rcTimePopup
    {
        background-image: url('mvwres://Telerik.Web.UI, Version=2012.2.607.35, Culture=neutral, PublicKeyToken=121fae78165ba3d4/Telerik.Web.UI.Skins.Default.Calendar.sprite.gif');
    }

    .RadPicker .rcTimePopup
    {
        display: block;
        overflow: hidden;
        width: 22px;
        height: 22px;
        background-color: transparent;
        background-repeat: no-repeat;
        text-indent: -2222px;
        text-align: center;
    }

    .RadPicker_Default .rcTimePopup
    {
        background-position: 0 -100px;
    }

    .RadPicker_Default .rcTimePopup
    {
        background-image: url('mvwres://Telerik.Web.UI, Version=2012.2.607.35, Culture=neutral, PublicKeyToken=121fae78165ba3d4/Telerik.Web.UI.Skins.Default.Calendar.sprite.gif');
    }

    .RadPicker .rcTimePopup
    {
        display: block;
        overflow: hidden;
        width: 22px;
        height: 22px;
        background-color: transparent;
        background-repeat: no-repeat;
        text-indent: -2222px;
        text-align: center;
    }

    .RadPicker_Default .rcTimePopup
    {
        background-position: 0 -100px;
    }

    .RadPicker_Default .rcTimePopup
    {
        background-image: url('mvwres://Telerik.Web.UI, Version=2012.2.607.35, Culture=neutral, PublicKeyToken=121fae78165ba3d4/Telerik.Web.UI.Skins.Default.Calendar.sprite.gif');
    }

    .RadPicker .rcTimePopup
    {
        display: block;
        overflow: hidden;
        width: 22px;
        height: 22px;
        background-color: transparent;
        background-repeat: no-repeat;
        text-indent: -2222px;
        text-align: center;
    }

    .RadPicker_Default .rcTimePopup
    {
        background-position: 0 -100px;
    }

    .RadPicker_Default .rcTimePopup
    {
        background-image: url('mvwres://Telerik.Web.UI, Version=2012.2.607.35, Culture=neutral, PublicKeyToken=121fae78165ba3d4/Telerik.Web.UI.Skins.Default.Calendar.sprite.gif');
    }

    .RadPicker .rcTimePopup
    {
        display: block;
        overflow: hidden;
        width: 22px;
        height: 22px;
        background-color: transparent;
        background-repeat: no-repeat;
        text-indent: -2222px;
        text-align: center;
    }

    .RadPicker_Default .rcTimePopup
    {
        background-position: 0 -100px;
    }

    .RadPicker_Default .rcTimePopup
    {
        background-image: url('mvwres://Telerik.Web.UI, Version=2012.2.607.35, Culture=neutral, PublicKeyToken=121fae78165ba3d4/Telerik.Web.UI.Skins.Default.Calendar.sprite.gif');
    }

    .RadPicker .rcTimePopup
    {
        display: block;
        overflow: hidden;
        width: 22px;
        height: 22px;
        background-color: transparent;
        background-repeat: no-repeat;
        text-indent: -2222px;
        text-align: center;
    }

    .RadPicker_Default .rcTimePopup
    {
        background-position: 0 -100px;
    }

    .RadPicker_Default .rcTimePopup
    {
        background-image: url('mvwres://Telerik.Web.UI, Version=2012.2.607.35, Culture=neutral, PublicKeyToken=121fae78165ba3d4/Telerik.Web.UI.Skins.Default.Calendar.sprite.gif');
    }

    .RadPicker .rcTimePopup
    {
        display: block;
        overflow: hidden;
        width: 22px;
        height: 22px;
        background-color: transparent;
        background-repeat: no-repeat;
        text-indent: -2222px;
        text-align: center;
    }

    .RadPicker_Default .rcTimePopup
    {
        background-position: 0 -100px;
    }

    .RadPicker_Default .rcTimePopup
    {
        background-image: url('mvwres://Telerik.Web.UI, Version=2012.2.607.35, Culture=neutral, PublicKeyToken=121fae78165ba3d4/Telerik.Web.UI.Skins.Default.Calendar.sprite.gif');
    }

    .RadPicker .rcTimePopup
    {
        display: block;
        overflow: hidden;
        width: 22px;
        height: 22px;
        background-color: transparent;
        background-repeat: no-repeat;
        text-indent: -2222px;
        text-align: center;
    }

    .RadPicker td a
    {
        position: relative;
        outline: none;
        z-index: 2;
        margin: 0 2px;
        text-decoration: none;
    }

    .RadPicker td a
    {
        position: relative;
        outline: none;
        z-index: 2;
        margin: 0 2px;
        text-decoration: none;
    }

    .RadPicker td a
    {
        position: relative;
        outline: none;
        z-index: 2;
        margin: 0 2px;
        text-decoration: none;
    }

    .RadPicker td a
    {
        position: relative;
        outline: none;
        z-index: 2;
        margin: 0 2px;
        text-decoration: none;
    }

    .RadPicker td a
    {
        position: relative;
        outline: none;
        z-index: 2;
        margin: 0 2px;
        text-decoration: none;
    }

    .RadPicker td a
    {
        position: relative;
        outline: none;
        z-index: 2;
        margin: 0 2px;
        text-decoration: none;
    }

    .RadPicker td a
    {
        position: relative;
        outline: none;
        z-index: 2;
        margin: 0 2px;
        text-decoration: none;
    }

    .RadPicker td a
    {
        position: relative;
        outline: none;
        z-index: 2;
        margin: 0 2px;
        text-decoration: none;
    }

    </style>
<script type="text/javascript">
    function con() {
        if (window.confirm("Are you sure to remove this record ?") == true) {

            return true;
        }
        else {
            return false;
        }
    }
    function delcon(item) {


        if (window.confirm("Are you sure to remove this " + item + "?") == true) {

            return true;

        }
        else {

            return false;

        }
    }
    function conBukDelete() {
        if (window.confirm("Are you sure you wish to remove Record(s)?") == true) {
            return true;
        }
        else {
            return false;
        }
    }
</script>
<script type="text/javascript">
    function checkAllCheckboxes(idOfControllingCheckbox, gridViewClientID, CellNo) {
        var grid = document.getElementById(gridViewClientID);
        var cell;
        //      alert(grid)
        //        if ((grid.rows.length -1) != 10 ) {
        //        if ((grid.rows.length) >= 12) {
        //            //            alert('More than 10 rows')
        //            for (i = 0; i < grid.rows.length - 1; i++) {
        //                cell = grid.rows[i].cells[CellNo];
        //                for (j = 0; j < cell.childNodes.length - 1; j++) {
        //                    if (cell.childNodes[j].type == "checkbox") {
        //                        cell.childNodes[j].checked = document.getElementById(idOfControllingCheckbox).checked;
        //                    }
        //                }
        //            }
        //        }
        //        else {
        //                     alert(grid.rows.length)
        for (i = 0; i < grid.rows.length; i++) {
            cell = grid.rows[i].cells[CellNo];

            for (j = 0; j < cell.childNodes.length; j++) {

                if (cell.childNodes[j].childNodes.length > 0) {
                    //                        alert(cell.childNodes[j].childNodes[0].type)
                    if (cell.childNodes[j].childNodes[0].type == "checkbox") {
                        cell.childNodes[j].childNodes[0].checked = document.getElementById(idOfControllingCheckbox).checked;
                    }
                }




            }
        }

    }
    //    }
</script>
<telerik:RadInputManager ID="radAddSweepAction" runat="server" Enabled="true">
    <telerik:NumericTextBoxSetting BehaviorID="reAmountPKR" EmptyMessage="" AllowRounding="false"
        Validation-IsRequired="false" Type="Number" DecimalDigits="2" ErrorMessage="Invalid amount">
        <TargetControls>
            <telerik:TargetInput ControlID="txtAmountPKR" />
        </TargetControls>
    </telerik:NumericTextBoxSetting>
</telerik:RadInputManager>
<telerik:RadInputManager ID="radScheduleTitle" runat="server" Enabled="true">
    <telerik:TextBoxSetting BehaviorID="reScheduleTitle" EmptyMessage=""
        ErrorMessage="Invalid Title" Validation-IsRequired="true"
        >
        <TargetControls>
            <telerik:TargetInput ControlID="txtScheduleTitle" />
        </TargetControls>
    </telerik:TextBoxSetting>
</telerik:RadInputManager>
<telerik:RadInputManager ID="RadInputManager1" runat="server" Enabled="False">
    <telerik:RegExpTextBoxSetting BehaviorID="reNoOfDays" EmptyMessage=""
        ErrorMessage="Invalid No Of Days" Validation-IsRequired="false"
        Validation-ValidationGroup="Preview" ValidationExpression="^\+?[\d]{1,2}$">
        <TargetControls>
            <telerik:TargetInput ControlID="txtNoOfDays" />
        </TargetControls>
    </telerik:RegExpTextBoxSetting>
</telerik:RadInputManager>
<table align="left" cellpadding="0" cellspacing="0" style="width: 100%">
    <tr align="left" valign="top" style="width: 100%">
        <td align="left" valign="top" style="width: 100%">
            <table width="100%">
                <tr>
                    <td align="center" valign="top" colspan="4">&nbsp;</td>
                </tr>
                <tr>
                    <td align="left" valign="middle" colspan="4">
                        <asp:Label ID="lblAddSweepActions" runat="server" Text="Add Sweep Action" CssClass="headingblue"></asp:Label>
                    </td>
                </tr>
                <tr>
                    <td align="left" valign="middle" colspan="4">
            Note:&nbsp; Fields marked as
            <asp:Label ID="Label1" runat="server" Text="*" ForeColor="Red"></asp:Label>
            &nbsp;are required.
                    </td>
                </tr>
                <tr style="width: 100%">
                    <td align="left" valign="middle" style="width: 25%">
                        <asp:Label ID="lblGroup" runat="server" Text="Group" CssClass="lbl"></asp:Label>
            <asp:Label ID="Label2" runat="server" Text="*" ForeColor="Red"></asp:Label>
                    </td>
                    <td align="left" valign="middle" style="width: 25%">&nbsp;
                    </td>
                    <td align="left" valign="middle" style="width: 25%">
                        <asp:Label ID="lblCompany" runat="server" Text="Company" CssClass="lbl"></asp:Label>
            <asp:Label ID="Label3" runat="server" Text="*" ForeColor="Red"></asp:Label>
                    </td>
                    <td align="left" valign="middle" style="width: 25%">&nbsp;
                    </td>
                </tr>
                <tr style="width: 100%">
                    <td align="left" valign="middle" style="width: 25%">
                        <asp:DropDownList ID="ddlGroup" runat="server" CssClass="dropdown" AutoPostBack="True">
                        </asp:DropDownList>
                    </td>
                    <td align="left" valign="middle" style="width: 25%">&nbsp;
                    </td>
                    <td align="left" valign="middle" style="width: 25%">
                        <asp:DropDownList ID="ddlcompany" runat="server" CssClass="dropdown"
                            AutoPostBack="True">
                        </asp:DropDownList>
                    </td>
                    <td align="left" valign="middle" style="width: 25%">&nbsp;
                    </td>
                </tr>
                <tr style="width: 100%">
                    <td align="left" valign="middle" class="auto-style2">
                        <asp:RequiredFieldValidator ID="rfvddlGroup" runat="server"
                            ControlToValidate="ddlGroup" Display="Dynamic"
                            ErrorMessage="Please select Group" InitialValue="0"
                            SetFocusOnError="True"></asp:RequiredFieldValidator>
                    </td>
                    <td align="left" valign="middle" class="auto-style2"></td>
                    <td align="left" valign="middle" class="auto-style2">
                        <asp:RequiredFieldValidator ID="rfvddlCompany" runat="server"
                            ControlToValidate="ddlcompany" Display="Dynamic"
                            ErrorMessage="Please select Company" InitialValue="0"
                            SetFocusOnError="True"></asp:RequiredFieldValidator>
                    </td>
                    <td align="left" valign="middle" class="auto-style2"></td>
                </tr>
                <tr style="width: 100%">
                    <td align="left" valign="middle" class="auto-style2">
                        <asp:Label ID="lblFromAccountNo" runat="server" Text="Source Account No" CssClass="lbl"></asp:Label>
            <asp:Label ID="Label4" runat="server" Text="*" ForeColor="Red"></asp:Label>
                    </td>
                    <td align="left" valign="middle" class="auto-style2"></td>
                    <td align="left" valign="middle" class="auto-style2">
                        <asp:Label ID="lblToAccountNo" runat="server" Text="Destination Account No" CssClass="lbl"></asp:Label>
            <asp:Label ID="Label5" runat="server" Text="*" ForeColor="Red"></asp:Label>
                    </td>
                    <td align="left" valign="middle" class="auto-style2"></td>
                </tr>
                <tr style="width: 100%">
                    <td align="left" valign="middle" style="width: 25%">
                        <asp:DropDownList ID="ddlFromAccount" runat="server" CssClass="dropdown" AutoPostBack="True">
                        </asp:DropDownList>
                    </td>
                    <td align="left" valign="middle" style="width: 25%">&nbsp;</td>
                    <td align="left" valign="middle" style="width: 25%">
                        <asp:DropDownList ID="ddlToAccountNo" runat="server" CssClass="dropdown">
                        </asp:DropDownList>
                    </td>
                    <td align="left" valign="middle" style="width: 25%">&nbsp;</td>
                </tr>
                <tr style="width: 100%">
                    <td align="left" valign="middle" class="auto-style2">
                        <asp:RequiredFieldValidator ID="rfvddlFromAccountNo" runat="server"
                            ControlToValidate="ddlFromAccount" Display="Dynamic"
                            ErrorMessage="Please select Source Account No" InitialValue="0"
                            SetFocusOnError="True"></asp:RequiredFieldValidator>
                    </td>
                    <td align="left" valign="middle" class="auto-style2"></td>
                    <td align="left" valign="middle" class="auto-style2">
                        <asp:RequiredFieldValidator ID="rfvddlToAccountNo" runat="server"
                            ControlToValidate="ddlToAccountNo" Display="Dynamic"
                            ErrorMessage="Please select Destination Account No" InitialValue="0"
                            SetFocusOnError="True"></asp:RequiredFieldValidator>
                    </td>
                    <td align="left" valign="middle" class="auto-style2"></td>
                </tr>
                <tr style="width: 100%">
                    <td align="left" valign="middle" style="width: 25%">
                        <asp:Label ID="lblScheduleTitle" runat="server" CssClass="lbl" Text="Title"></asp:Label>
                        <asp:Label ID="lblReqScheduleTitle" runat="server" ForeColor="Red" Text="*"></asp:Label>
                    </td>
                    <td align="left" valign="middle" style="width: 25%">&nbsp;</td>
                    <td align="left" valign="middle" style="width: 25%">
                        <asp:Label ID="lblScheduleFrequency" runat="server" CssClass="lbl"
                            Text="Frequency"></asp:Label>
                        <asp:Label ID="lblReqScheduleFrequency" runat="server" ForeColor="Red" Text="*"></asp:Label>
                    </td>
                    <td align="left" valign="middle" style="width: 25%">&nbsp;</td>
                </tr>
                <tr style="width: 100%">
                    <td align="left" valign="middle" style="width: 25%">
                        <asp:TextBox ID="txtScheduleTitle" runat="server" CssClass="txtbox"
                            MaxLength="150"></asp:TextBox>
                    </td>
                    <td align="left" valign="middle" style="width: 25%">&nbsp;</td>
                    <td align="left" valign="middle" style="width: 25%">
                        <asp:DropDownList ID="ddlScheduleFrequency" runat="server" CssClass="dropdown"
                            AutoPostBack="True">
                            <asp:ListItem Value="0">-- Please Select --</asp:ListItem>
                            <asp:ListItem Value="Daily">Daily</asp:ListItem>
                            <asp:ListItem Value="Monthly">Monthly</asp:ListItem>
                            <asp:ListItem Value="Number Of Days">Number Of Days</asp:ListItem>
                        </asp:DropDownList>
                    </td>
                    <td align="left" valign="middle" style="width: 25%">&nbsp;</td>
                </tr>
                <tr style="width: 100%">
                    <td align="left" valign="middle" style="width: 25%">&nbsp;</td>
                    <td align="left" valign="middle" style="width: 25%">&nbsp;</td>
                    <td align="left" valign="middle" style="width: 25%">
                        <asp:RequiredFieldValidator ID="rfvddlScheduleFrequency" runat="server"
                            ControlToValidate="ddlScheduleFrequency" Display="Dynamic"
                            ErrorMessage="Please select Schedule Frequency" InitialValue="0"
                            SetFocusOnError="True"></asp:RequiredFieldValidator>
                    </td>
                    <td align="left" valign="middle" style="width: 25%">&nbsp;</td>
                </tr>
                <tr style="width: 100%">
                    <td align="left" valign="middle" style="width: 25%">
                        <asp:Label ID="lblTransactionTime" runat="server" CssClass="lbl"
                            Text="Transaction Time"></asp:Label>
                        <asp:Label ID="lblReqTransactionTime" runat="server" ForeColor="Red"
                            Text="*"></asp:Label>
                    </td>
                    <td align="left" valign="middle" style="width: 25%">&nbsp;</td>
                    <td align="left" valign="middle" style="width: 25%"></td>
                    <td align="left" valign="middle" style="width: 25%">&nbsp;</td>
                </tr>
                <tr style="width: 100%">
                    <td align="left" valign="top" style="width: 25%">

                        <telerik:RadTimePicker ID="radTimePicker" runat="server" DateInput-DateFormat="HH:mm"
    TimeView-TimeFormat="HH:mm" Skin="Hay">
                        </telerik:RadTimePicker>
                        <br />
                        <asp:RequiredFieldValidator ID="rfvTransactionTime" runat="server"
                            ControlToValidate="radTimePicker" Display="Dynamic"
                            ErrorMessage="Please select Sweep Action Time" InitialValue=""
                            SetFocusOnError="true"></asp:RequiredFieldValidator>


                    </td>
                    <td align="left" valign="middle" style="width: 25%">&nbsp;</td>
                    <td align="left" valign="middle" style="width: 25%">
                        <table id="tblDayType" runat="server" style="width: 100%">
                            <tr>
                                <td align="left" style="width: 100%;" valign="top">
                                    <asp:Label ID="lblDayType" runat="server" CssClass="lbl" Text="Day Type"></asp:Label>
                                    <asp:Label ID="lblReqDayType" runat="server" ForeColor="Red" Text="*"></asp:Label>
                                </td>
                            </tr>
                            <tr>
                                <td align="left" style="width: 100%;" valign="top">
                                    <asp:RadioButtonList ID="rblDaysOfMonth" runat="server" AutoPostBack="True" RepeatDirection="Horizontal">
                                        <asp:ListItem Value="First Day">First Day</asp:ListItem>
                                        <asp:ListItem Value="Last Day">Last Day</asp:ListItem>
                                        <asp:ListItem Value="Specific Day">Specific Day</asp:ListItem>
                                    </asp:RadioButtonList>
                                </td>
                            </tr>
                            <tr>
                                <td align="left" style="width: 100%;" valign="top">
                                    <asp:RequiredFieldValidator ID="rfvrblrblDaysOfMonth" runat="server" ControlToValidate="rblDaysOfMonth" Display="Dynamic" Enabled="False" ErrorMessage="Please select Day Type" InitialValue="" SetFocusOnError="True" ValidationGroup="Preview"></asp:RequiredFieldValidator>
                                </td>
                            </tr>
                        </table>
                        <table id="tblNoOfDays" runat="server" style="width: 100%">
                            <tr>
                                <td align="left" style="width: 100%;" valign="top">
                                    <asp:Label ID="lblNoOfDays" runat="server" CssClass="lbl" Text="No of Days"></asp:Label>
                                    <asp:Label ID="lblReqNoOfDays" runat="server" ForeColor="Red" Text="*"></asp:Label>
                                </td>
                            </tr>
                            <tr>
                                <td align="left" style="width: 100%;" valign="top">
                                    <asp:TextBox ID="txtNoOfDays" runat="server" AutoPostBack="True" CssClass="txtbox" MaxLength="2"></asp:TextBox>
                                </td>
                            </tr>
                            <tr>
                                <td align="left" style="width: 100%;" valign="top">
                                    <telerik:RadInputManager ID="radNoOfDay" runat="server" Enabled="False">
                                        <telerik:RegExpTextBoxSetting BehaviorID="reNoOfDays" EmptyMessage="" ErrorMessage="Invalid No Of Days" Validation-IsRequired="false" Validation-ValidationGroup="Preview" ValidationExpression="^\+?[\d]{1,2}$">
                                            <TargetControls>
                                                <telerik:TargetInput ControlID="txtNoOfDays" />
                                            </TargetControls>
                                        </telerik:RegExpTextBoxSetting>
                                    </telerik:RadInputManager>
                                </td>
                            </tr>
                        </table>
                        <table id="tblSpecificDay" runat="server" style="width: 100%">
                            <tr>
                                <td align="left" style="width: 100%;" valign="top">
                                    <asp:Label ID="lblSpecificDay" runat="server" CssClass="lbl" Text="Specific Day"></asp:Label>
                                    <asp:Label ID="lblReqSpecificDay" runat="server" ForeColor="Red" Text="*"></asp:Label>
                                </td>
                            </tr>
                            <tr>
                                <td align="left" style="width: 100%;" valign="top">
                                    <asp:DropDownList ID="ddlSpecificDay" runat="server" CssClass="dropdown">
                                        <asp:ListItem Value="0">-- Please Select --</asp:ListItem>
                                        <asp:ListItem>1</asp:ListItem>
                                        <asp:ListItem>2</asp:ListItem>
                                        <asp:ListItem>3</asp:ListItem>
                                        <asp:ListItem>4</asp:ListItem>
                                        <asp:ListItem>5</asp:ListItem>
                                        <asp:ListItem>6</asp:ListItem>
                                        <asp:ListItem>7</asp:ListItem>
                                        <asp:ListItem>8</asp:ListItem>
                                        <asp:ListItem>9</asp:ListItem>
                                        <asp:ListItem>10</asp:ListItem>
                                        <asp:ListItem>11</asp:ListItem>
                                        <asp:ListItem>12</asp:ListItem>
                                        <asp:ListItem>13</asp:ListItem>
                                        <asp:ListItem>14</asp:ListItem>
                                        <asp:ListItem>15</asp:ListItem>
                                        <asp:ListItem>16</asp:ListItem>
                                        <asp:ListItem>17</asp:ListItem>
                                        <asp:ListItem>18</asp:ListItem>
                                        <asp:ListItem>19</asp:ListItem>
                                        <asp:ListItem>20</asp:ListItem>
                                        <asp:ListItem>21</asp:ListItem>
                                        <asp:ListItem>22</asp:ListItem>
                                        <asp:ListItem>23</asp:ListItem>
                                        <asp:ListItem>24</asp:ListItem>
                                        <asp:ListItem>25</asp:ListItem>
                                        <asp:ListItem>26</asp:ListItem>
                                        <asp:ListItem>27</asp:ListItem>
                                        <asp:ListItem>28</asp:ListItem>
                                        <asp:ListItem>29</asp:ListItem>
                                        <asp:ListItem>30</asp:ListItem>
                                        <asp:ListItem>31</asp:ListItem>
                                    </asp:DropDownList>
                                </td>
                            </tr>
                            <tr>
                                <td align="left" style="width: 100%;" valign="top">
                                    <asp:RequiredFieldValidator ID="rfvddlSpecificDay" runat="server" ControlToValidate="ddlSpecificDay" Display="Dynamic" Enabled="False" ErrorMessage="Please select Specific Day" InitialValue="0" SetFocusOnError="True" ValidationGroup="Preview"></asp:RequiredFieldValidator>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td align="left" valign="middle" style="width: 25%">&nbsp;</td>
                </tr>
                <tr style="width: 100%">
                    <td align="left" valign="middle" style="width: 25%">&nbsp;</td>
                    <td align="left" valign="middle" style="width: 25%">&nbsp;</td>
                    <td align="left" valign="middle" style="width: 25%">&nbsp;</td>
                    <td align="left" valign="middle" style="width: 25%">&nbsp;</td>
                </tr>
                <tr style="width: 100%">
                    <td align="left" valign="middle" style="width: 25%">
                        <asp:Label ID="lblAmountPKR" runat="server" Text="Amount" CssClass="lbl"></asp:Label>
                    </td>
                    <td align="left" valign="middle" style="width: 25%">&nbsp;</td>
                    <td align="left" valign="middle" style="width: 25%">&nbsp;</td>
                    <td align="left" valign="middle" style="width: 25%">&nbsp;</td>
                </tr>
                <tr style="width: 100%">
                    <td align="left" valign="middle" style="width: 25%">
                        <asp:TextBox ID="txtAmountPKR" runat="server" CssClass="txtbox" MaxLength="14"></asp:TextBox>
                    </td>
                    <td align="left" valign="middle" style="width: 25%">&nbsp;</td>
                    <td align="left" valign="middle" style="width: 25%">&nbsp;</td>
                    <td align="left" valign="middle" style="width: 25%">&nbsp;</td>
                </tr>
                <tr style="width: 100%">
                    <td align="left" valign="middle" style="width: 25%">&nbsp;</td>
                    <td align="left" valign="middle" style="width: 25%">&nbsp;</td>
                    <td align="left" valign="middle" style="width: 25%">&nbsp;</td>
                    <td align="left" valign="middle" style="width: 25%">&nbsp;</td>
                </tr>
                <tr style="width: 100%">
                    <td align="left" valign="middle" style="width: 25%">
                        <asp:Label ID="lblStartDate" runat="server" CssClass="lbl" Text="Start Date"></asp:Label>
                        <asp:Label ID="lblReqStartDate" runat="server" ForeColor="Red" Text="*"></asp:Label>
                    </td>
                    <td align="left" valign="middle" style="width: 25%">&nbsp;</td>
                    <td align="left" valign="middle" style="width: 25%">
                        <asp:Label ID="lblEndDate" runat="server" CssClass="lbl" Text="End Date"></asp:Label>
                        <asp:Label ID="lblReqStartDate0" runat="server" ForeColor="Red" Text="*"></asp:Label>
                    </td>
                    <td align="left" valign="middle" style="width: 25%">&nbsp;</td>
                </tr>
                <tr style="width: 100%">
                    <td align="left" valign="top" style="width: 25%">
                        <telerik:RadDatePicker ID="txtStartDate" runat="server"
                            DateInput-DateFormat="dd-MMM-yyyy" DateInput-EmptyMessage=""
                            EnableTyping="false" ImagesPath="" SharedCalendarID="sharedCalenderSceduleStartDate" AutoPostBack="True">
<Calendar UseRowHeadersAsSelectors="False" UseColumnHeadersAsSelectors="False" ViewSelectorText="x"></Calendar>

<DateInput DisplayDateFormat="dd-MMM-yyyy" DateFormat="dd-MMM-yyyy" DisplayText="" ReadOnly="True" LabelWidth="40%" type="text" value="" AutoPostBack="True"></DateInput>

<DatePopupButton ImageUrl="" HoverImageUrl=""></DatePopupButton>
                        </telerik:RadDatePicker>
                    </td>
                    <td align="left" valign="middle" style="width: 25%">
                        <telerik:RadCalendar ID="sharedCalenderSceduleStartDate" runat="server"
                            dateinput-dateformat="dd-MMM-yyyy" EnableMultiSelect="False"
                            ViewSelectorText="x">
                        </telerik:RadCalendar>
                    </td>
                    <td align="left" valign="top" style="width: 25%">
                        <telerik:RadDatePicker ID="txtEndDate" runat="server"
                            DateInput-DateFormat="dd-MMM-yyyy" DateInput-EmptyMessage=""
                            EnableTyping="false" ImagesPath="" SharedCalendarID="sharedCalenderEndScheduleDate" AutoPostBack="True">
<Calendar UseRowHeadersAsSelectors="False" UseColumnHeadersAsSelectors="False" ViewSelectorText="x"></Calendar>

<DateInput DisplayDateFormat="dd-MMM-yyyy" DateFormat="dd-MMM-yyyy" DisplayText="" ReadOnly="True" LabelWidth="40%" type="text" value="" AutoPostBack="True"></DateInput>

<DatePopupButton ImageUrl="" HoverImageUrl=""></DatePopupButton>
                        </telerik:RadDatePicker>
                    </td>
                    <td align="left" valign="top" style="width: 25%">
                        <telerik:RadCalendar ID="sharedCalenderEndScheduleDate" runat="server"
                            dateinput-dateformat="dd-MMM-yyyy" EnableMultiSelect="False"
                            ViewSelectorText="x">
                        </telerik:RadCalendar>
                    </td>
                </tr>
                <tr style="width: 100%">
                    <td align="left" valign="middle" class="auto-style1">
                        <asp:RequiredFieldValidator ID="rfvScheduleStartDate" runat="server"
                            ControlToValidate="txtStartDate" Display="Dynamic"
                            ErrorMessage="Please select Sweep Action Start Date" InitialValue="" SetFocusOnError="true"
                            ></asp:RequiredFieldValidator>
                    </td>
                    <td align="left" valign="middle" class="auto-style1">&nbsp;
                    </td>
                    <td align="left" valign="middle" class="auto-style1">
                        <asp:RequiredFieldValidator ID="rfvScheduleEndDate" runat="server"
                            ControlToValidate="txtEndDate" Display="Dynamic"
                            ErrorMessage="Please select Sweep Action End Date" InitialValue=""
                            SetFocusOnError="true"></asp:RequiredFieldValidator>
                        <asp:CompareValidator ID="cmpSheduleDates" runat="server" ControlToCompare="txtStartDate" ControlToValidate="txtEndDate" Operator="GreaterThanEqual" ErrorMessage="Sweep Action End Date must be greater than Sweep Action From Date"
                            SetFocusOnError="true" Display="Dynamic"></asp:CompareValidator>
                    </td>
                    <td align="left" valign="middle" class="auto-style1">&nbsp;
                    </td>
                </tr>
                <tr>
                    <td align="left" valign="middle" colspan="4">&nbsp;</td>
                </tr>
                <tr>
                    <td align="left" valign="middle" colspan="4">&nbsp;</td>
                </tr>
                <tr>
                    <td valign="middle" align="center" colspan="4">
                        <%--<asp:GridView ID="gvAccountsDetails" runat="server" AutoGenerateColumns="false" CssClass="Grid"
                            AllowPaging="true" AllowSorting="true" EnableModelValidation="true" Width="100%">
                            <AlternatingRowStyle CssClass="GridAltItem" />
                            <Columns>
                                <asp:BoundField DataField="AccountNumber" HeaderText="Account No." SortExpression="AccountNumber">
                                    <HeaderStyle HorizontalAlign="Left" VerticalAlign="Middle" />
                                    <ItemStyle HorizontalAlign="Left" VerticalAlign="Middle" />
                                </asp:BoundField>
                                <asp:BoundField DataField="BranchCode" HeaderText="Branch Code" SortExpression="BranchCode">
                                    <HeaderStyle HorizontalAlign="Left" VerticalAlign="Middle" />
                                    <ItemStyle HorizontalAlign="Left" VerticalAlign="Middle" />
                                </asp:BoundField>
                                <asp:BoundField DataField="Currency" HeaderText="Currency" SortExpression="Currency">
                                    <HeaderStyle HorizontalAlign="Left" VerticalAlign="Middle" />
                                    <ItemStyle HorizontalAlign="Left" VerticalAlign="Middle" />
                                </asp:BoundField>
                                <asp:TemplateField>
                                    <ItemTemplate>
                                        <asp:HyperLink ID="hlAddMasterSeries" runat="server" ImageUrl="~/images/add.gif"
                                            ToolTip="Add Master Series" Text="Add Master Series"></asp:HyperLink>
                                    </ItemTemplate>
                                    <HeaderStyle HorizontalAlign="Right" VerticalAlign="Middle" Width="16px" />
                                    <ItemStyle HorizontalAlign="Right" VerticalAlign="Middle" Width="16px" />
                                </asp:TemplateField>
                                <asp:CheckBoxField DataField="isActive" HeaderText="Active" Text="">
                                    <HeaderStyle HorizontalAlign="Center" VerticalAlign="Middle" Width="20px" />
                                    <ItemStyle HorizontalAlign="Center" VerticalAlign="Middle" Width="20px" />
                                </asp:CheckBoxField>
                                <asp:CheckBoxField DataField="IsApproved" HeaderText="Approve" Text="">
                                    <HeaderStyle HorizontalAlign="Center" VerticalAlign="Middle" Width="20px" />
                                    <ItemStyle HorizontalAlign="Center" VerticalAlign="Middle" Width="20px" />
                                </asp:CheckBoxField>
                                <asp:TemplateField>
                                    <ItemTemplate>
                                        <asp:HyperLink ID="hlEdit" runat="server" ImageUrl="~/images/edit.gif" NavigateUrl='<%#NavigateURL("SaveAccount", "&mid=" & Me.ModuleId & "&AccountNumber="& Eval("AccountNumber") & "&BranchCode="& Eval("BranchCode") & "&Currency="& Eval("Currency") )%>'
                                            ToolTip="Edit">Edit</asp:HyperLink>
                                    </ItemTemplate>
                                    <HeaderStyle HorizontalAlign="Right" VerticalAlign="Middle" Width="16px" />
                                    <ItemStyle HorizontalAlign="Right" VerticalAlign="Middle" Width="16px" />
                                </asp:TemplateField>
                                <asp:TemplateField>
                                    <ItemTemplate>
                                        <asp:ImageButton ID="IbtnDelete" runat="server" CommandArgument='<%#Eval("AccountNumber") + ";" +Eval("BranchCode") + ";" +Eval("Currency") %>'
                                            CommandName="del" ImageUrl="~/images/delete.gif" OnClientClick="javascript: return con();"
                                            ToolTip="Delete" />
                                    </ItemTemplate>
                                    <HeaderStyle HorizontalAlign="Right" VerticalAlign="Middle" Width="16px" />
                                    <ItemStyle HorizontalAlign="Right" VerticalAlign="Middle" Width="16px" />
                                </asp:TemplateField>
                            </Columns>
                            <HeaderStyle CssClass="GridHeader" />
                            <PagerStyle CssClass="GridPager" />
                            <RowStyle CssClass="GridItem" />
                        </asp:GridView>--%>
                        <asp:Button ID="btnSave" runat="server" Text="Save" CssClass="btn" 
                            CausesValidation="true" />
                        <asp:Button ID="btnCancel" runat="server" Text="Cancel" CssClass="btn"
                            CausesValidation="False" />
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
