﻿<%@ Control Language="VB" AutoEventWireup="false" CodeFile="ClientUserFileUploadProgress.ascx.vb" Inherits="DesktopModules_ClientUserFileUpload_ClientUserFileUploadProgress" %>
<%@ Register assembly="Telerik.Web.UI" namespace="Telerik.Web.UI" tagprefix="telerik" %>


<%--      <style type="text/css">
	
	#progressbar .ui-widget-header 
	
	{
	    
	    background-image: url(/images/progressbar.gif);
	    
	 background-color: #E78F08;
	    
	    }
	
	</style>--%>

  <script type="text/ecmascript">

      var arg = "Percent";

      function CheckStatus() {
          CallServer("TEST", "");
      }

      function ReceiveServerData(retValue) {



          //   alert(retValue);




          if (arg == "Percent") {






              if (retValue == "-1") {


//                  $("#progressbar").progressbar("value", 0);



                  document.getElementById("Results").innerHTML = "There was an error in file uploading. Please try again.";

                  window.location.replace("<%= NavigateURL()  %>")

              } else if (retValue != "100") {





//                  $("#progressbar").progressbar("value", parseInt(retValue));



//                  document.getElementById("Results").innerHTML = "File uploading is in progress - " + retValue + "%";

                  arg = "Percent";


                  setTimeout("CallServer('Percent','')", 600);






              } else {




                  // alert("message will be called");

                  arg = "Message";


                  setTimeout("CallServer('Client User File Upload','')", 600);






//                  document.getElementById("Results").innerHTML = "File Uploading is complete";




//                  $("#progressbar").progressbar("value", 100);





              }



          } else {



              if (retValue == "") {




                  $('#divmsg').html("File Uploaded successfully.");



                  var img = "<img src='/Portals/_default/skins/IC/image/success.png'/>";


                  $('#divimg').html(img);





              } else {


                  $('#divmsg').html(retValue);



                  var img = "<img src='/Portals/_default/skins/IC/image/success.png'/>";


                  $('#divimg').html(img);




              }


              $('#dialog').dialog('option', 'title', 'Client User File Upload');


              
             $('#dialog').bind( 'dialogclose', function(event, ui) {


           


             

 setTimeout(window.location.replace("<%= NavigateURL()  %>"),10);



                 




             });




           




              $('#dialog').dialog('open');






          }






      }


//      $(function () {
//          $("#progressbar").progressbar({
//              value: 0
//          });
//      });
	



  </script>


    <table style="width:100%;">
        <tr>
            <td>
                <asp:Label ID="lblClientUserFileUploadPRogress" runat="server" Text="Client User File Upload Status" 
                    CssClass="headingblue" Font-Bold="False"></asp:Label>
            </td>
        </tr>
        <tr align="center" valign="middle" style="height:240px;">
            <td align="center" 
                valign="middle" >
               <img src='/images/progressbar.gif'/></td>
        </tr>
        <tr>
            <td>

                <div id="Results" style="font-size: 16px" class="headingblue">
                </div>
                <br />
                <div id="progressbar"></div>
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;</td>
        </tr>
        <tr>
            <td>
                <button onclick="CheckStatus()" style="display: none;" type="Button">
                    Check Status
                </button>
            </td>
        </tr>
    </table>
</p>
<p>
    <br />
</p>
<p>
    &nbsp;</p>



