﻿body
{
    font-family:"HelveticaNeue LT 45 Light";  
    font-size: 12px;
}


/* font face */
@font-face {
    font-family: 'HelveticaNeue LT 45 Light';
    src: url('../fonts/helvetica-45-light.eot');
    src: url('../fonts/helvetica-45-light.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/helvetica-45-light.woff') format('woff'),
		 url('../fonts/helvetica-45-light.ttf') format('truetype'),
		 url('../fonts/helvetica-45-light.otf') format('opentype'),
		 url('../fonts/helvetica-45-light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

.divmain
{
    background-position: center 270px;
    background-image: url(../image/bgextend.jpg);
    background-repeat: repeat-x;
    margin: 0px;
    padding: 0px;
}

.chkBox2
{
    
    padding-left:5px;
    }

.help
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #21759B;
    text-align: left;
}
.fieldsetForIE8LeftTD {
    position: relative;
    margin: 1px;
    background-color: ThreeDFace;
    border: 1px solid #828282;
    height: 145px;
    width:150px;
     
}

.legendForIE8LeftTD
 {
    position: relative;
    top: -1em;
    padding-top:0.5em;
    left: 0.5em;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #001146;

}
.fieldsetForIE8RightTopTD {
    position: relative;
    margin: 1px;
    background-color: ThreeDFace;
    border: 1px solid #828282;
    height: 71px;
     
}

.legendForIE8RightTopTD
 {
    position: relative;
    top: -1em;
    padding-top:0.5em;
    left: 0.5em;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #001146;

}
.fieldsetForIE8RightBottomTD {
    position: relative;
   margin-top: 4px;
   margin-left:0px;
   margin-right:0px;
    background-color: ThreeDFace;
    border: 1px solid #828282;
    height: 67px;
    
     
}

.legendForIE8RightBottomTD
 {
    position: relative;
    top: -1em;
    padding-top:0.5em;
    left: 0.5em;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #001146;

}

.fieldsetForIE7LeftTD {
    position: relative;
    margin: 1px;
    background-color: ThreeDFace;
    border: 1px solid #828282;
    height: 145px;
    width:150px;
     
}

.legendForIE7LeftTD
 {
    position: relative;
    top: -1em;
    padding-top:0.5em;
    left: 0.5em;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #001146;

}
.fieldsetForIE7RightTopTD {
    position: relative;
    margin: 1px;
    background-color: ThreeDFace;
    border: 1px solid #828282;
    height: 71px;
     
}

.legendForIE7RightTopTD
 {
    position: relative;
    top: -1em;
    padding-top:0.5em;
    left: 0.5em;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #001146;

}
.fieldsetForIE7RightBottomTD {
    position: relative;
   margin-top: 4px;
   margin-left:0px;
   margin-right:0px;
    background-color: ThreeDFace;
    border: 1px solid #828282;
    height: 67px;
    
     
}

.legendForIE7RightBottomTD
 {
    position: relative;
    top: -1em;
    padding-top:0.5em;
    left: 0.5em;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #001146;

}

.fieldset
 {
    position: relative;
    margin: 2px;
    background-color: ThreeDFace;
    border: 1px solid #828282;
   
    
   
}

.fieldset legend {
    position: relative;
    top: -1em;
    padding-top:0.5em;
    left: 0.5em;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #001146;
}
.footermain
{
    background-image: url(../image/footer_bg.gif);
    height: 50px;
    background-repeat: repeat-x;
    width: 100%;
}

.footer
{
    color: #001146;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}


.copyright
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #838080;
        padding-right: 10px;
}


.menu
{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}


.menu a
{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    color: #001145;
    height: 30px;
    display: block;
    line-height: 30px;
    text-decoration: none;
}

.menu a:hover
{
    color: #ffffff;
    background-color: #001145;
    height: 30px;
    display: block;
    line-height: 30px;
    text-decoration: none;
}


.text
{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #757577;
    text-align: left;
}


.headingblue
{
    font-size: 18px;
    font-family: "Bliss2Bold",Arial,Helvetica,sans-serif;
    color: #696a6c!important;
}
.lblHeadingForQueue
{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #001146;
}
.headingblue2
{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #686666;
    width:inherit !important;
    word-break: break-all !important;
    
    
}
.lblHomeLogOut
{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #001146;
}

a.headingblue
{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #001146;
}



.headingblue2
{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #686666;
}
.headingblue3
{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #686666;
}

a.headingblue2
{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #686666;
}


.righttmenu
{
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color: #1F3149;
    font-weight: bold;
    text-align: right;
}


.welcome
{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #1F3149;
}


.submenu
{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #676565;
}


.data
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
}


.statment
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
}


.statmentoverview
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
}

.dataright
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-style: normal;
}


.bgheader
{
    background-image: url('../image/top_bg.png');
    background-repeat: repeat-x;
    background-attachment: scroll;
    background-position: center top;
}

.txtbox
{
    border: #ceced0 1px solid;
    font-family: Verdana;
    font-size: 14pt;
    width: 295px;
    height: 32px;
    background-color: #F7F7F9;
}



.dropdown
{
    width: 250px;
    background-repeat:repeat-x;
  

}
.dropdownForQueue
{
    width: 290px;
    font-size: 11px;
    height:19px;
    
}
.dropdownForQueue2
{
    width: 252px;
    font-size: 11px;
    height:19px;
    
}
.dropdownForQueueForAmountOperator
{
    width: 122px;
    font-size: 11px;
    height:19px;
    
}
.riTextBox riEnabled
{
    width: 250px;
    }

.chkList
{
    font-family: Verdana;
    font-size: 25pt;
}
.box
{
    background-image: url(../image/box2.png);
    height: 222px;
    width: 334px;
    background-repeat: no-repeat;
}




.RadInputMgr
{
    width: 250px;
}

.btn
{   
    background-color: #e31937;
    border: 0px;
    padding: 5px;
    margin-bottom: 10px;
    color: #FFF;   
    font-family: "Bliss2Medium",Arial,Helvetica,sans-serif;  
}
.btn2
{
    color: White;
    background-color: Gray;
    border: 0px;
   
    font-size: 10px;
    margin-bottom: 10px;
     
}

.btnCancel
{   
    background-color: #969495;
    border: 0px;
    padding: 5px;
    margin-bottom: 10px;
    color: #FFF;   
    font-family: "Bliss2Medium",Arial,Helvetica,sans-serif;  
   
}
.btnCancel2
{
    border-style: none;
    border-color: inherit;
    border-width: 0px;
    color: White;
    background-color: Gray;
    font-size: 10px;
    text-align:center;
    width:auto;
    *position:absolute;
   
}


.lbl
{
    color: #383838;
    font-size: 14px;
}
.lblForDropDown
{
    color: Black;
    font-size: 10.5px;
}
.lblForFieldSetLabels
{
    color: Black;
    font-size: 11px;
}




.lblHeadingOposite
{
    font-family: Arial;
    font-weight: normal;
    font-size: 12px;
    padding: 2px;
    color: #7e7c7c;
}

.Altertr
{
    background-color: #FFFFFF;
    height: 20px;
    padding: 2px;
}

.gridView
{
    border: 1px solid #eeeeee;
}
.RowStyle
{
    background: #F9F9F9;
    vertical-align: middle;
    text-align: center;
    font-family: Arial;
    font-size: 12px;
    padding: 2px;
    color: #7e7c7c;
}

.AltRowStyle
{
    background: #FFFFFF;
    vertical-align: middle;
    text-align: center;
    font-family: Arial;
    font-weight: normal;
    font-size: 12px;
    padding: 2px;
    color: #7e7c7c;
}

.HeaderStyle
{
    background: #E7E7E7;
    vertical-align: middle;
    text-align: center;
    font-family: Arial;
    font-size: 14px;
    color: #7e7c7c;
}

.lblMainHeading
{
    font-family: Arial;
    font-weight: bold;
    font-size: 16px;
    padding: 2px;
    color: #7e7c7c;
}

.lblHeading
{
}
.lblPreview
{
    color: Gray ;
    font-size: 14px ;
   
    
}
.lblSubHeading
{
    font-family: Arial;
    font-weight: bold;
    font-size: 12px;
    padding: 2px;
    color: #7e7c7c;
}

.lblSubHeadingValue
{
    font-family: Arial;
    font-weight: normal;
    font-size: 12px;
    padding: 2px;
    color: #7e7c7c;
}
.lblSubHeadingValue1
{
    font-family: Arial;
    font-weight: normal;
    font-size: 12px;
    padding: 2px;
    color: #7e7c7c;
}

.lblError
{
}







.Grid
{
    border: solid 1px #E6E6E6;
}
.Grid td
{
    border: solid 1px #E6E6E6;
    margin: 1px 1px 1px 1px;
    padding: 1px 1px 1px 1px; /*text-align: center;*/
}


.GridHeader
{
    font-size:11px;
  
}

.GridHeader th
{
    border: solid 1px #E6E6E6;
    margin: 1px 1px 1px 1px;
    padding: 1px 1px 1px 1px;
    text-align: center;
}


.GridItem
{
    font-size:10px;
     background-color:White;
     word-wrap: break-word !important;
     overflow:auto !important;
}
.GridItemComplete
{
    font-size:10px;
    background-color:ThreeDFace;
    color:Black;
     word-wrap: break-word !important;
}
.GridItemComparison
{
    font-size:10px;
    background-color:brown;
    color:white;
     word-wrap: break-word !important;
}
.GridAltItem
{
    background-color: white;
    height: 30px;
     word-wrap: break-word !important;
}

.GridPager
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #666666;
    background-color: #E4E6E9;
    height: 30px;
}
.RadGrid {
background-color: #eee; /* same color as scrollbar in my case */
}
.hidden
{
    display: none;
}




.rgRow
{
    background-color: #FFFFFF !important;
    height: 30px !important;
 
 word-wrap: break-word !important;
  
 
   

}

.rgRow a
{
    
}


.rgRow a:hover
{
    color: #000000 !important;
}

.rgRow td
{
    border-bottom: 1px solid #f2f2f2 !important;
    
}


.rgAltRow
{
    background-color: #eeeeee !important;
    height: 30px !important;
    word-wrap: break-word !important;
}

.rgAltRow a
{
    
}


.rgAltRow a:hover
{
    color: #000000 !important;
}

.rgAltRow td
{
    border-bottom: 1px solid #f2f2f2 !important;
}


.RadGrid_Default .rgHeader, .RadGrid_Default th.rgResizeCol {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    /*background: url("WebResource.axd?d=GV2SctjWBMgwic1zAiSzX_7WIZLUDNG-xQAxMBCYIRGRBzsLFSB4g1VzaiUiD68VTIpxxBAQnnN2x3QKN9shk7Ftda6mprCJiqL-VFjLAyRL8OIxWOnOAFzBsiWFC0ytGm5zOKkkoJ5YSmGe0&t=634745904260000000") repeat-x scroll 0 -2300px #EAEAEA;
    border-color: -moz-use-text-color -moz-use-text-color #828282;*/
    border-image: none;
    border-style: none none solid;
    border-width: 0 0 1px;
    background-color:#e31937 !important;
    background-image:none !important;
    color:white !important;
       font-family: "Bliss2Medium",Arial,Helvetica,sans-serif;


}

.RadGrid_Default .rgHeader, .RadGrid_Default .rgHeader a {
    color: white !important;
}



.txtboxForQueue
{
    border: #ceced0 1px solid;
    font-family: Verdana;
    font-size: 10pt;
    width: 50px !important;
    height: 20px;
    background-color: #F7F7F9;
}
.itemBackColor
{
    color:Blue;
   
    }
.GridItemClearingReversal
{
    font-size:10px;
    background-color:#CDCDD6;
    color:Black;
     word-wrap: break-word !important;
}
.GridItemAmendedAndClearingReversal
{
    font-size:10px;
    background-color: darkgray;
    color:Black;
     word-wrap: break-word !important;
}
#dnn_ctr_Login_chkCookie{display:none;}
