﻿<%@ WebHandler Language="VB" Class="Showimage" %>

Imports System
Imports System.Web
Imports ICBO
Imports ICBO.ic
Public Class Showimage : Implements IHttpHandler
    
    Public Sub ProcessRequest(ByVal context As HttpContext) Implements IHttpHandler.ProcessRequest
        
        Dim UserType As String=""
        'context.Response.ContentType = "text/plain"
        'context.Response.Write("Hello World")
        
        If Not context.Request.QueryString("id") Is Nothing Then

            If Not context.Request.QueryString("UserType") Is Nothing Then
                UserType=context.Request.QueryString("UserType").ToString
                If UserType = "Approval Limits User" Then
                    Dim att As New ICLimitForApproval
            

                    If att.LoadByPrimaryKey(context.Request.QueryString("id")) Then


            


                        context.Response.ContentType = att.FileType
                

                        ' context.Response.AddHeader("content-disposition", "attachment;filename=" & att.ImageName)






                        '    context.Response.BinaryWrite(att.ImageData)
                
                
                        context.Response.OutputStream.Write(att.UserSignatureImage, 0, att.FileSize)
                
                


                        context.Response.End()






                    End If
                    
                    
                    
             
                End If
            End If

            






        End If
        
    End Sub
 
    Public ReadOnly Property IsReusable() As Boolean Implements IHttpHandler.IsReusable
        Get
            Return False
        End Get
    End Property

End Class