<%@ Page Language="vb" AutoEventWireup="false" Inherits="DotNetNuke.HtmlEditor.TelerikEditorProvider.Dialogs.RenderTemplate" CodeBehind="RenderTemplate.aspx.vb" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head id="Head1" runat="server">
    <title></title>
    <link ID="TemplateCSS" runat="server" rel="stylesheet" type="text/css" />
</head>
<body>
<asp:Literal ID="Content" runat="server" />
</body>
</html>
