<%@ Control language="vb" AutoEventWireup="false" Explicit="True" Inherits="DotNetNuke.UI.Skins.Controls.ModuleMessage" %>
<table border="0" cellspacing="0" cellpadding="4">
	<tr>
		<td valign="top" align="left"><asp:image id="imgIcon" borderwidth="0" runat="server" visible="False" enableviewstate="False"/></td>
		<td valign="middle" align="left"><asp:label id="lblHeading" runat="server" CssClass="SubHead" visible="False" enableviewstate="False"/><asp:label id="lblMessage" Visible="false" runat="server" CssClass="Normal" enableviewstate="False" /></td>
	</tr>
</table>
<hr noshade="noshade" size="1"/>